@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

$blue: rgb(29, 155, 240);
$darkBlue: rgb(26, 140, 216);
$darkGray: rgb(113, 118, 123);
$lightGray: rgb(231, 233, 234);
$dark: #2b2b2b;
$dark2: rgb(32, 35, 39);
$red: rgb(249, 24, 128);
$green: rgb(0, 186, 124);

$border: 1px solid $dark;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

button, input {
    outline: none;
    border: none;
    background: none;
}

.rounded {
    border-radius: 99px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.btn {
    padding: 12px;
    width: 100%;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.blue-btn {
    background: $blue;
    color: #fff;
    transition: all .2s ease;

    &:hover {
        background: $darkBlue;
    }
}

.box-more-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;

    svg {
        color: $darkGray;
        transition: all .2s ease;
    }

    &:hover {
        background: rgba(29, 155, 240, 0.2);

        svg {
            color: $blue;
        }
    }
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.dot {
    width: 4px;
    height: 4px;
    background: $darkGray;
    border-radius: 99px;
}

.post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    border-bottom: $border;
    padding: 12px 16px;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background: rgb(14, 14, 14);
    }

    .flex-col {
        flex: 1;
        align-items: flex-start;

        .user-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: -7px;

            .user-name {
                display: flex;
                align-items: center;
                gap: 6px;

                p {
                    color: $darkGray;
                    font-size: 15px;
                }

                .count {
                    font-size: 13px;
                }

                a {
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .content * {
            color: $lightGray;
            font-size: 15px;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 48px;
            margin-top: 16px;

            .action-item {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 4px 8px;
                border-radius: 16px;
                cursor: pointer;
                transition: all .2s ease;

                svg {
                    color: $darkGray;
                    transition: all .2s ease;
                }

                span {
                    color: $darkGray;
                    transition: all .2s ease;
                }
            }
            .action-item.blue:hover {
                background: rgba($color: $blue, $alpha: 0.2);

                svg, span {
                    color: $blue;
                }
            }

            .action-item.green:hover {
                background: rgba($color: $green, $alpha: 0.2);

                svg, span {
                    color: $green;
                }
            }

            .action-item.red:hover {
                background: rgba($color: $red, $alpha: 0.2);

                svg, span {
                    color: $red;
                }
            }
        }
    }
}

.search {
    background: $dark2;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    position: relative;

    svg {
        position: absolute;
        left: 18px;
        color: $darkGray;
    }

    input {
        width: 100%;
        height: 100%;
        padding: 12px 12px 12px 52px;
        font-size: 16px;
        color: #fff;

        &::placeholder {
            color: $darkGray;
        }

        &:focus {
            outline: 1px solid $blue;
            border-radius: 24px;
        }
    }
}

.side-box {
    width: 100%;
    border-radius: 12px;
    padding: 4px 0 0;

    h2 {
        word-wrap: break-word;
        font-size: 20px;
        margin-bottom: 12px;
        padding: 0 16px;
    }

    .side-box-item {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        transition: all .2s ease;
        padding: 16px;
        border-radius: 12px;

        .show-more {
            font-size: 16px;
            color: $blue;
        }

        &:hover {
            background: $dark2;
        }

        .box-item-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                color: $darkGray;
                font-size: 15px;
            }

            .count {
                font-size: 13px;
            }

            span {
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .box-item-details.flex-row {
            align-items: center;
            gap: 12px;
        }

        .follow-btn {
            text-align: center;
            background: #fff;
            color: $dark;
            font-weight: 600;
            padding: 6px 16px;
            border-radius: 16px;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
                opacity: .9;
            }
        }

    }
}

.layout {
    display: flex;
    justify-content: space-between;

    header {
        height: 100vh;
        display: flex;
        border-right: $border;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px 12px;
        width: 275px;
        position: sticky;
        top: 0;
        left: 0;

        nav.nav-links {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 18px 0;

            a {
                display: flex;
                align-items: center;
                padding: 12px 8px;
                gap: 14px;
                transition: all .2s ease;
                border-radius: 16px;

                span {
                    font-size: 18px;
                }
                &:hover {
                    background: $dark;
                }
            }
            a.active span {
                font-weight: 600;
            }
        }

        .header-profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 12px;
            border-radius: 32px;
            transition: all .2s ease;
            cursor: pointer;

            .details {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 12px;

                .flex-col {
                    span {
                        font-size: 15px;
                        font-weight: 600;
                        color: $lightGray;
                    }
                    p {
                        color: $darkGray;
                        font-size: 15px;
                    }
                }
            }
            svg {
                color: $lightGray;
            }

            &:hover {
                background: $dark;
            }
        }
    }

    main {
        flex: 1;
        position: relative;

        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 16px;
            position: sticky;
            top: 0;
            backdrop-filter: blur(12px);
            z-index: 99;

            h1 {
                font-size: 20px;
            }

            svg {
                color: $lightGray;
            }

            button {
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all .2s ease;

                &:hover {
                    background: rgba($color: #fff, $alpha: 0.2);
                }
            }
        }

        .explore-title {
            gap: 18px;
        }

        .explore-page {

            .latest-new {
                width: 100%;
                height: 340px;
                border-bottom: $border;
                position: relative;
                margin-top: 6px;

                img {
                    object-fit: cover;
                    width: 100% !important;
                    height: 100% !important;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
                }

                .latest-new-details {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px;
                    z-index: 12;

                    .sub-title {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        p {
                            font-size: 14px;
                        }

                        .dot {
                            background: #fff;
                        }
                    }
                }
            }

            .side-box {
                border-radius: 0;
                border-bottom: $border;
                padding-top: 12px;

                .side-box-item {
                    border-radius: 0;
                }
            }
        }
    }

    aside {
        width: 370px;
        border-left: $border;
        padding-left: 12px;
        
        .sidebar {
            padding: 20px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .sidebar-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .side-box {
                    background: $dark2;
                    padding: 16px 0 0;
                    
                    .side-box-item:hover {
                        background: rgb(39, 41, 43);
                    }
                }

                .mt {
                    margin-top: 16px;
                }
            }
        }
    }
}