@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'themes.scss';

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
  
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
  
    }
  }

  @function themed($key) {
    @return map-get($theme-map, $key);
  }



$blue: #1d9bf0;
$yellow: #FFD400;
$red: #F91880;
$purple: #7856FF;
$orange: #FF7A00;
$green: #00BA7C;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    overflow-wrap: anywhere;

    &::-webkit-scrollbar {
        width: 3px;
      }
      
    &::-webkit-scrollbar-thumb {
        @include themify($themes) {
            background: themed('blackOne');
        }
    }
    
}

body {
    overflow-y: scroll;
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('backgroundColor');  
    }
}

a {
    color: white;
    @include themify($themes) {
        color: themed('textColor');
    }
    text-decoration: none;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}


p {
    @include themify($themes) {
        color: themed('grayD');
    }

    a {
        color: #fff;
        text-decoration: underline;
        font-weight: 600;

        &:hover {
        text-decoration: underline 2px;
    }
}
}

button, input {
    outline: none;
    border: none;
    background: none;
}

input[type="radio"], input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.opacity-out {
    animation: opacityOut .5s ease !important;
}

.checkmark {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    color: #fff;
    @include themify($themes) {
        border: 1px solid themed('textColor');
    }

    svg {
        display: none;
        z-index: 2;
    }

    &::before {
        content: "";
        background: rgba(29, 155, 240, 0.1);
        opacity: 0;
        transition: all .2s ease;
        width: 36px;
        height: 36px;
        border-radius: 99px;
        position: absolute;
    }
}

.checkbox-label:has(input:checked) .checkmark {
    @include themify($themes) {
        background: themed('primary');
        border-color: themed('primary') !important;
    }

    svg {
        display: block;
        @include themify($themes) {
            color: themed('buttonTextColor') !important;
        }
    }
}

.select {
    position: relative;
    height: 72px;
    width: 100%;
    padding: 6px;
    outline: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    @include themify($themes) {
        outline-color: themed('grayD');
    }

    .select-main {

        span {
            position: relative;
            top: -18px;
            font-size: 14px;
            @include themify($themes) {
                color: themed('grayD');
            }
        }
    }
    
    select {
        position: absolute;
        background: none;
        outline: none;
        border: none;
        appearance: none;
        bottom: -22px;
        padding: 16px;
        top: 0;
        left: 0;
        right: 0;
        @include themify($themes) {
            color: themed('textColor');
        }
        font-size: 18px;
    }
}

.theme-button {
    @include themify($themes) {
        background: themed('primary') !important;
        color: themed('buttonTextColor') !important;
    }
}
.rounded {
    border-radius: 99px !important;
}

.flex-col {
    display: flex;
    flex-direction: column !important;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.space-between {
    justify-content: space-between !important;
}

.btn {
    padding: 12px;
    width: 100%;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.blue-btn {
    @include themify($themes) {
        background: themed('primary');
        color: themed('buttonTextColor');
    }
    transition: all .2s ease;

    &:hover {
        @include themify($themes) {
            background: themed('secondary');
        }
    }
}

.small-btn {
    text-align: center;
    @include themify($themes) {
        background: themed('grayL');
        color: themed('backgroundColor');
    }
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 16px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;

    &:hover {
        opacity: .9;
    }
}

.outline-small {
    background: none;
    outline: 1px solid #fff;
    color: #fff;

    &:hover {
        background: rgba($color: #fff, $alpha: 0.2);
    }
}

.box-more-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;

    svg {
        @include themify($themes) {
            color: themed('grayD');  
        }
        transition: all .2s ease;
    }

    &:hover {
        @include themify($themes) {
            background: themed('primarySoft');  
        }

        svg {
            @include themify($themes) {
                color: themed('primary');
            }
        }
    }
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.dot {
    width: 3px;
    height: 3px;
    @include themify($themes) {
        background: themed('grayD');  
    }
    border-radius: 99px;
}

.post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    @include themify($themes) {
        border-bottom: themed('border');
    }
    padding: 16px 16px 12px;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        @include themify($themes) {
            background: themed('boxHover');  
        }
    }

    .profile-picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .post-hover {
            position: absolute;
            top: 0;
            z-index: 2;
            cursor: auto;
        }

        .profile-page {
            @include themify($themes) {
                background: themed('backgroundColor');  
            }
            width: 300px;
            box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
            border-radius: 15px;
            animation: opacityIn .5s ease;
            margin-top: 59px;

            .user-card {
                border-bottom: none;

                .user-card-content {
                    padding: 16px;
                    
                    .username {
                        margin: 7px 0 0;
                    }
                }
            }

            .pp img {
                position: relative !important;
                top: auto !important;
            }
        }
    }

    .flex-col {
        flex: 1;
        align-items: flex-start;

        .user-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: -7px;

            .user-name {
                display: flex;
                align-items: center;
                gap: 6px;

                p {
                    @include themify($themes) {
                        color: themed('grayD');  
                    }
                    font-size: 15px;
                }

                .count {
                    font-size: 13px;
                }

                a {
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .content * {
            @include themify($themes) {
                color: themed('grayL');  
            }
            font-size: 15px;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 48px;
            margin-top: 16px;

            .action-item {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 4px 8px;
                border-radius: 16px;
                cursor: pointer;
                transition: all .2s ease;

                &:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                    cursor: none;

                    &:hover {
                        background: none !important;
                    }
                }

                svg {
                    @include themify($themes) {
                        color: themed('grayD');
                    }
                    transition: all .2s ease;
                }

                span {
                    @include themify($themes) {
                        color: themed('grayD');  
                    }
                    transition: all .2s ease;
                }
            }
            .action-item.blue:hover {
                background: rgba($color: $blue, $alpha: 0.2);

                svg, span {
                    color: $blue;
                }
            }

            .action-item.green:hover {
                background: rgba($color: $green, $alpha: 0.2);

                svg, span {
                    color: $green;
                }
            }

            .action-item.red:hover {
                background: rgba($color: $red, $alpha: 0.2);

                svg, span {
                    color: $red;
                }
            }
        }
    }
}

.create-post {
    background: none !important;
    cursor: auto !important;

    .content {
        width: 100%;

        input {
            padding: 8px 0;
            width: 100%;
            font-size: 20px !important;
            @include themify($themes) {
                color: themed('textColor') !important;
            }

            &::placeholder {
                @include themify($themes) {
                    color: themed('grayD') !important;
                }
            }
        }
    }

    .actions-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        .actions {
            gap: 4px;
            margin-top: 0;

            .action-item {
                padding: 6px;

                svg {
                    @include themify($themes) {
                        color: themed('primary') !important;
                    }
                }

                &:hover {
                    @include themify($themes) {
                        background: themed('primarySoft') !important;
                    }
                }
            }
        }

        .actions-right {
            gap: 14px;
        }
    }
}

.search {
    @include themify($themes) {
        background: themed('blackTwo');  
    }
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    position: relative;

    svg {
        position: absolute;
        left: 18px;
        @include themify($themes) {
        color: themed('grayD');  
    }
    }

    input {
        width: 100%;
        height: 100%;
        padding: 12px 12px 12px 52px;
        font-size: 16px;
        color: #fff;

        &::placeholder {
            @include themify($themes) {
        color: themed('grayD');  
    }
        }

        &:focus {
            @include themify($themes) {
                outline: 1px solid themed('primary');
            }
            border-radius: 24px;
        }
    }
}

.side-box {
    width: 100%;
    border-radius: 12px;
    padding: 4px 0 0;

    h2 {
        word-wrap: break-word;
        font-size: 20px;
        margin-bottom: 12px;
        padding: 0 16px;
    }

    .side-box-item {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        transition: all .2s ease;
        padding: 16px;

        &:hover {
            @include themify($themes) {
                background: themed('blackTwo');  
            }
        }

        .box-item-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                @include themify($themes) {
        color: themed('grayD');  
    }
                font-size: 15px;
            }

            .count {
                font-size: 13px;
            }

            span {
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .box-item-details.flex-row {
            align-items: center;
            gap: 12px;
        }

    }
}

.layout {
    display: flex;
    justify-content: space-between;

    header {
        height: 100vh;
        display: flex;
        @include themify($themes) {
            border-right: themed('border');
        }
        justify-content: space-between;
        flex-direction: column;
        padding: 20px 12px;
        width: 275px;
        position: sticky;
        top: 0;
        left: 0;

        .logo svg {
            @include themify($themes) {
                color: themed('logo');
            }
        }

        nav.nav-links {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 18px 0;

            a {
                display: flex;
                align-items: center;
                padding: 12px;
                gap: 14px;
                transition: all .2s ease;
                border-radius: 32px;

                span {
                    font-size: 18px;
                }
                &:hover {
                    @include themify($themes) {
                        background: themed('blackOne');
                    }
                }
            }
            a.active span {
                font-weight: 600;
            }
        }

        .header-profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 12px;
            border-radius: 32px;
            transition: all .2s ease;
            cursor: pointer;

            .details {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 12px;

                .flex-col {
                    span {
                        font-size: 15px;
                        font-weight: 600;
                        @include themify($themes) {
                            color: themed('grayL');
                        }
                    }
                    p {
                        @include themify($themes) {
                            color: themed('grayD');
                        }
                        font-size: 15px;
                    }
                }
            }
            svg {
                @include themify($themes) {
                    color: themed('grayL');  
                }
            }

            &:hover {
                @include themify($themes) {
                    background: themed('blackOne');
                }
            }
        }
    }

    main {
        flex: 1;
        position: relative;

        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 14px;
            padding: 6px 16px;
            position: sticky;
            top: 0;
            backdrop-filter: blur(12px);
            z-index: 99;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }

            svg {
                @include themify($themes) {
                    color: themed('grayL');  
                }
            }

            button {
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all .2s ease;

                &:hover {
                    @include themify($themes) {
                        background: themed('roundedButtonHover');
                    }
                }
            }

            .has-back {
                align-items: center;
                gap: 20px;
            }
        }

        .notifications-title {
            display: flex;
            flex-direction: column;
            @include themify($themes) {
                border-bottom: themed('border');
            }
            padding: 0;

            .title-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 6px 16px;
            }
        }

        .explore-title {
            gap: 18px;
        }

        .explore-page {

            .latest-new {
                width: 100%;
                height: 340px;
                @include themify($themes) {
                    border-bottom: themed('border');
                }
                position: relative;
                margin-top: 6px;

                img {
                    object-fit: cover;
                    width: 100% !important;
                    height: 100% !important;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
                }

                .latest-new-details {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 16px;
                    z-index: 12;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .sub-title {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        p {
                            font-size: 14px;
                            color: #fff;
                        }

                        .dot {
                            background: #fff;
                        }
                    }

                    h2 {
                        color: #fff;
                    }
                }
            }

            .side-box {
                border-radius: 0;
                @include themify($themes) {
                    border-bottom: themed('border');
                }
                padding-top: 12px;

                .side-box-item {
                    border-radius: 0;
                }
            }
        }

        .lists-page {
            
            .lists-main {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 12px;
                @include themify($themes) {
                    border-bottom: themed('border');
                }

                h3 {
                    padding: 16px 16px 0;
                }

                .fixed-lists-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 16px;

                    h3 {
                        padding: 0;
                    }

                    button {
                        @include themify($themes) {
                            color: themed('primary');
                        }
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                        padding: 3px 12px;
                        border-radius: 12px;
                        transition: all .2s ease;

                        &:hover {
                            @include themify($themes) {
                                background: themed('primarySoft');
                            }
                        }
                    }
                }

                .fixed-lists-row {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;

                    .fixed-list {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 6px;
                        flex: 1;
                        padding: 12px 16px;
                        transition: all .2s ease;

                        img {
                            border-radius: 12px;
                            object-fit: cover;
                        }

                        span {
                            font-size: 14px;
                        }

                        &:hover {
                            @include themify($themes) {
            background: themed('boxHover');  
        }
                        }
                    }
                }

                .schema-item-details .user-details span {
                    font-size: 14px;
                }
            }

            .explore-lists {
                .show-more {
                    padding: 16px;
                }
            }

        }

        
    }

    .two-diveded-page {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;

        .diveded-left {
            flex: 1;
            @include themify($themes) {
                border-right: themed('border');
            }
            height: 100%;
            overflow-y: scroll;

            .diveded-search {
                padding: 12px 16px;

                .search {
                    background: none;
                    border: 1px solid;

                    @include themify($themes) {
                        border-color: themed('grayD');
                    }
                }
            }
        }

        .diveded-left-messages {
            .two-left-one-right-schema {
                border-radius: 0;

                .user-details span {
                    font-size: 14px;
                }

                .box-more-btn  {
                    opacity: 0;
                    transition: all .2s ease;
                }

                &:hover .box-more-btn  {
                    opacity: 100;
                }
            }

        }
        .two-left-one-right-schema.active {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                width: 2px;
                @include themify($themes) {
                    background: themed('primary');
                }
            }
        }

        .diveded-right {
            flex: 1.5;
            @include themify($themes) {
                border-right: themed('border');
            }

            .select-message {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                gap: 6px;
                width: 350px;
                margin: 0 auto;

                .btn {
                    margin-top: 16px;
                    width: fit-content;
                    padding-right: 36px;
                    padding-left: 36px;
                }
            }

            .item p.top-desc {
                padding: 6px 16px;
                font-size: 14px;
            }

            .select {
                margin: 12px 0 6px 0;
                padding: 16px 16px 8px 16px;
            }

            .language-item {
                padding: 6px 16px;

                p.top-desc {
                    padding: 10px 0;
                }
            }
            .language-item.save {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-top: 16px;
                @include themify($themes) {
                    border-top: themed('border');
                }
            }
            

            .display-item {
                padding: 16px;
                display: flex;
                flex-direction: column;
                @include themify($themes) {
                    border-top: themed('border');
                }
                gap: 18px;

                &:nth-of-type(3) {
                    border: none !important;
                }

                .display-item-row {
                    justify-content: space-around;
                    gap: 10px;

                    button, .theme-item {
                        cursor: pointer;
                    }

                    .color-item {
                        width: 42px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .checkmark {
                            border: none;
                            background: none;

                            svg {
                                width: 36px;
                            }
                        }

                    }

                    .color-item.blue {
                        background: $blue;
                    }
                    .color-item.yellow {
                        background: $yellow;
                        
                        .checkmark svg {
                            color: #000;
                        }
                    }
                    .color-item.red {
                        background: $red;
                    }
                    .color-item.purple {
                        background: $purple;
                    }
                    .color-item.orange {
                        background: $orange;
                    }
                    .color-item.green {
                        background: $green;
                    }



                    .theme-item {
                        flex: 1;
                        padding: 18px;
                        border-radius: 3px;
                        display: flex;
                        align-content: center;
                        justify-content: space-between;

                        p {
                            flex: 1;
                            text-align: center;
                            font-weight: 600;
                            color: #fff;
                        }

                        &:hover .checkmark::before {
                            opacity: 1;
                        }
                    }
                    .theme-item:has(input:checked) {
                        @include themify($themes) {
                            outline: 2px solid themed('primary');
                        }
                    }

                    .theme-item.light {
                        background: white;
                        p {
                            color: black;
                        }

                        .checkmark {
                            border-color: #536471;
                        }
                    }
                    .theme-item.loess {
                        background: #15202B;

                        .checkmark {
                            border-color: #8b98a5;
                        }
                    }
                    .theme-item.dark {
                        background: #000;

                        .checkmark {
                            border-color: #71767b;
                        }
                    }
                }
            }
        }
    }

    .settings-page {
        .two-left-one-right-schema {
            padding: 10px 16px;
        }
    }

    aside {
        width: 370px;
        @include themify($themes) {
            border-left: themed('border');
        }
        padding-left: 12px;
        
        .sidebar {
            padding: 20px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .mt {
                margin-top: 16px;
            }

            .sidebar-medias {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2px;

                a {
                    height: 97px;
                }

                img {
                    flex: 1 !important;
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                }

                a:first-of-type img {
                    border-radius: 12px 0 0 0;
                }

                a:last-of-type img {
                    border-radius: 0 0 12px 0;
                }

                a:nth-of-type(3) img {
                    border-radius: 0 12px 0 0;
                }

                a:nth-of-type(4) img {
                    border-radius: 0 0 0 12px;
                }
            }

            .sidebar-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .side-box {
                    @include themify($themes) {
                        background: themed('blackTwo');  
                    }
                    padding: 16px 0 0;
                    
                    .side-box-item:hover, .two-left-one-right-schema:hover {
                        @include themify($themes) {
                            background: themed('boxHover');  
                        }
                    }
                }
            }
        }
    }
}


.notification-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 16px;
    @include themify($themes) {
        border-bottom: themed('border');
    }

    .notification-main {
        display: flex;
        align-items: center;
        gap: 16px;
        flex: 1;
    }

    svg {
        width: 32px;
    }

    .notification-content {
        display: flex;
        flex-direction: column;
        gap: 2px;

        img {
            margin-bottom: 6px;
        }

        span {
            @include themify($themes) {
        color: themed('grayD');  
    }
            font-size: 14px;
        }
    }

    &:hover {
        @include themify($themes) {
            background: themed('boxHover');  
        }
    }
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 48px;
    
    .content {
        width: 336px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.page-description {
    display: flex;
    flex-direction: column;
    @include themify($themes) {
        border-bottom: themed('border');
    }

    img {
        width: 100% !important;
        object-fit: cover;
    }

    .page-description-content {
        padding: 32px;
        gap: 6px;
        display: flex;
        flex-direction: column;
    }
}


.two-left-one-right-schema {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease;
    padding: 16px;

    .show-more {
        font-size: 16px;
        @include themify($themes) {
            color: themed('primary');
        }
    }

    &:hover {
        @include themify($themes) {
            background: themed('boxHover');  
        }
    }

    .schema-item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        img {
            border-radius: 16px;
            object-fit: cover;
        }

        p {
            @include themify($themes) {
        color: themed('grayD');  
    }
            font-size: 15px;
        }

        .count {
            font-size: 13px;
        }

        span {
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        .user-details {
            display: flex;
            align-items: center;
            gap: 6px;

            p {
                font-size: 14px;
            }
        }
    }

    .box-item-details.flex-row {
        align-items: center;
        gap: 12px;
    }

    .box-more-btn svg.pinned {
        @include themify($themes) {
            color: themed('primary');
        }
    }

}
.two-left-one-right-schema.active {
    @include themify($themes) {
        background: themed('blackTwo');  
    }

    .last-message {
        color: #fff;
    }
}

.two-left-one-right-schema.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &:first-of-type {
        margin-top: 14px;
    }

    .icon {
        padding: 0 18px;
    }

    svg {
        min-width: 20px;
        @include themify($themes) {
            color: themed('grayD');  
        }
    }

    .flex-col {

        span {
            font-size: 15px;
            font-weight: 500;
        }
    }

    .last-message {
        font-size: 13px;
    }
}

.show-more {
    font-size: 16px;
    @include themify($themes) {
        color: themed('primary');
    }
}


.user-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include themify($themes) {
        border-bottom: themed('border');
    }

    .banner {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .user-card-content {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .flex-row.user-card-top {
            justify-content: space-between;
            align-items: center;

            .pp {
                position: relative;

                img {
                    position: absolute;
                    top: -100px;
                }
            }

            .flex-row.follow-buttons {
                gap: 12px;

                .box-more-btn {
                    @include themify($themes) {
                        outline: 1px solid themed('textColor');  
                    }

                    svg {
                        @include themify($themes) {
                            color: themed('textColor');  
                        }
                    }

                    &:hover {
                        @include themify($themes) {
                            background: themed('roundedButtonHover');  
                        }

                        svg {
                            @include themify($themes) {
                                color: themed('textColor');  
                            }
                        }
                    }
                }
            }
        }

        .username {
            margin: 27px 0 6px;

            span {
                font-weight: 600;
                font-size: 20px;
                line-height: 22px;
            }
        }

    }
}

.user-joined {
    align-items: center;
    gap: 6px;

    svg, p {
        @include themify($themes) {
        color: themed('grayD');  
    }
    }
}

.flex-row.follow-follower-count {
    align-items: center;
    gap: 16px;

    a.flex-row {
        align-items: center;
        gap: 4px;
        font-size: 14px;

        b {
            @include themify($themes) {
                color: themed('textColor');  
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        flex: 1;
        transition: all .2s ease;
        @include themify($themes) {
        color: themed('grayD');  
    }

        &:hover {
            @include themify($themes) {
                background: themed('blackTwo');  
            }
        }
    }
    a.active {
        @include themify($themes) {
            color: themed('textColor');  
        }
        font-weight: 600;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 30%;
            height: 4px;
            border-radius: 6px;
            @include themify($themes) {
                background: themed('primary');
            }
        }
    }
}