$themes: (
  light: (
    backgroundColor: #fff,
    textColor: #0f1419,
    blackOne: rgba(15, 20, 25, 0.1),
    blackTwo: #F7F9F9,
    grayD: #536471,
    grayL: rgb(15, 20, 25),
    boxHover: rgba(0, 0, 0, 0.03),
    border: 1px solid #eff3f4,
    roundedButtonHover: rgba(15, 20, 25, 0.1),
    logo: rgb(29, 155, 240),
  ),
  loess: (
    backgroundColor: #15202B,
    textColor: #fff,
    blackOne: rgba(247, 249, 249, 0.1),
    blackTwo: #273340,
    grayD: #8b98a5,
    grayL: #e7e9ea,
    boxHover: rgba(255, 255, 255, 0.03),
    border: 1px solid #38444d,
    roundedButtonHover: rgba(239, 243, 244, 0.1),
    logo: #fff,
  ),
  dark: (
    backgroundColor: #000,
    textColor: #fff,
    blackOne: #2b2b2b,
    blackTwo: #202327,
    grayD: #71767b,
    grayL: #e7e9ea,
    boxHover: rgb(14, 14, 14),
    border: 1px solid #2b2b2b,
    roundedButtonHover: rgba($color: #fff, $alpha: 0.2),
    logo: rgb(214, 217, 219),
  ),
);